menu.global-nav-dropdown__wrapper.js-global-nav-dropdown
  -
    const links1 = [
      { href: '/about', title: 'About' },
      { href: '/watch', title: 'Watch' },
      { href: '/live', title: 'Live' },
      { href: '/teachings', title: 'Teachings' },
      { href: '/q-and-a-with-pastor-chris', title: 'Q&A With Pastor Chris' },
      { href: '/testimonies', title: 'Testimonies'},
      { href: '/loveworld-praise', title: 'LoveWorld Praise'},
      { href: '/tv-stations-listings', title: 'TV Stations / Listings'},
      { href: '/read', title: 'Read' },
      { href: '/daily-devotions', title: 'Daily Devotions'},
      { href: '/affirmations', title: 'Affirmations'},
      { href: '/blog', title: 'Blog'},
      { href: '/chronicles-of-prophecies', title: 'Chronicles of Prophecies'},
      { href: '/news-and-events', title: 'News & Events'},
    ]
    const links2 = [
      { href: '#', title: 'Foundations', submenu: [
        { href: '/future-africa-leaders', title: 'Future Africa Leaders'},
        { href: '/Inner City Missions', title: 'Inner City Missions'},
        { href: '/trauma-care-international', title: 'Trauma Care International'},
        { href: '/volunteer-medical-corps', title: 'Volunteer Medical Corps'},
        { href: '/bible-for-all-mission', title: 'Bible For All Missions'},
      ]},
      { href: '/get-involved', title: 'Get Involved'},
      { href: '/financial-partnerships', title: 'Financial Partnerships'},
      { href: '/become-a-prayer-partner', title: 'Become A Prayer Partner'},
      { href: '/international-school-of-ministry', title: 'International School of Ministry'},
      { href: '/apps', title: 'Apps'},
      { href: '/contact', title: 'Contact'}
    ]
  .grid-container
    .grid-x
      .cell.medium-8
        .global-nav-dropdown
          .global-nav-dropdown__column
            ul
              each link in links1
                - const subMenuClass = link.submenu ? 'has-submenu' : ''
                li(class=subMenuClass)
                  a(href=link.href title=link.title)= link.title
                  if link.submenu
                    ul
                      each submenu in link.submenu
                        li: a(href=submenu.href title=submenu.title)= submenu.title

          .global-nav-dropdown__column
            ul
              each link in links2
                - const subMenuClass = link.submenu ? 'has-submenu' : ''
                li(class=subMenuClass)
                  a(href=link.href title=link.title)= link.title
                  if link.submenu
                    ul
                      each submenu in link.submenu
                        li: a(href=submenu.href title=submenu.title)= submenu.title
      .cell.medium-4.offset-1
        .global-nav-dropdown__featured
          .aspect-ratio--16x9
            .aspect-ratio__content
              img(src="/assets/img/october-month-of-peace.png")
          //- p.video-thumb__title.padding-top-1 <strong>October</strong> – the month of peace

  .global-nav-dropdown__close-btn.js-global-nav-menu-close